.nav-col{
  background-color: rgb(201, 103, 103);
  text-align: center;
  height: 100vh;
  /*border-top-right-radius: /*20*/%;*/
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: black;
}

.tab-pane p {
  font-size: 1.2rem;
  text-align: justify;
}

.arrow {
  position: fixed;
  right: 0;
  width: 45%;
}
.arrow-down{
  bottom: 0;
}

.arrow-up{
  top: 0;
}

.arrow-up img {
  transform: rotate(180deg);
}