.nav-col {
  background-color: rgb(201, 103, 103);
  text-align: center;
  height: 100vh;
  /*border-top-right-radius: /*20*/%;*/
}

.body-col {
  background-color: rgb(240, 235, 235);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: black;
}

.techs {
  max-height: 25vh;
  background-color: black;
}